<!--<div id="profile-menu" class="ui top attached teal inverted secondary menu">-->
    <!--<div class="ui container">-->
        <!--<div class="item" id="main-searchbar">-->
            <!--<select class="ui fluid search dropdown" multiple></select>-->
        <!--</div>-->
        <!--<div class="right menu" *ngIf="user">-->
            <!--<a [routerLink]="['/profile/', user._id]" id="profile-button" class="ui right aligned item">-->
                <!--<img class="ui avatar image" src="http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif">-->
            <!--</a>-->
            <!--<a id="logout-button" class="ui right aligned item" (click)="logout()">Salir</a>-->
        <!--</div>-->
        <!--<div class="right menu" *ngIf="!user">-->
            <!--<a id="login-button" class="ui right aligned item">Ingresar</a>-->
            <!--<a id="signup-button" class="ui right aligned item">Únete</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div id="profile-menu" class="ui top attached teal inverted secondary menu">
    <div class="ui container">
        <div class="item" id="main-searchbar">
            <select class="ui fluid search dropdown" multiple></select>
        </div>
        <div class="right menu">
            <a id="profile-button" class="ui right aligned item">
                <img class="ui avatar image" src="http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif">
            </a>
            <a id="logout-button" class="ui right aligned item">Logout</a>
        </div>
    </div>
</div>

<div id="tab-menu" class="ui four item top attached tabular teal inverted menu">
    <a [routerLink]="['/mics']" id="mic-tab" class="item" routerLinkActive="active">MiCs</a>
    <a [routerLink]="['/stories/']" id="story-tab" class="item" routerLinkActive="active">Historias</a>
    <a [routerLink]="['/products/']" id="product-tab" class="item" routerLinkActive="active">Productos</a>
    <a [routerLink]="['/entrepreneurs/']" id="entrepeneur-tab" class="item" routerLinkActive="active">Emprendedores</a>
</div>

<div id="main-content" class="ui bottom attached segment">
    <router-outlet></router-outlet>
</div>

<div id="main-tools-container">
    <div id="card-container" class="ui link four doubling cards"></div>
    <a class="card">
        <div class="image">
            <img src="">
        </div>
        <div class="content">
            <div class="header"></div>
            <div class="description"></div>
        </div>
    </a>
</div>

<div id="signup-modal" class="ui small long modal" *ngIf="!user">
    <div class="header">Registro</div>
    <div class="content">
        <form id="signup-form" class="ui large form" [ngFormModel]="signupForm" #f="ngForm" (submit)="signup(f.value)">
            <div class="ui stacked segment">
                <div class="two fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="first_name" placeholder="Nombre" ngControl="firstName">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="last_name" placeholder="Apellidos" ngControl="lastName">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="at icon"></i>
                        <input type="text" name="email" placeholder="Correo electrónico" ngControl="email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Contraseña" ngControl="password">
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Regístrate</button>
                <div class="ui horizontal divider">
                    O
                </div>
                <div class="ui facebook large fluid button">
                    <i class="facebook icon"></i>
                    Regístrate con Facebook
                </div>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>

<div id="login-modal" class="ui small modal" *ngIf="!user">
    <div class="header">Inicio de sesión</div>
    <div class="content">
        <form id="login-form" class="ui large form" [ngFormModel]="loginForm" #f="ngForm" (submit)="login(f.value)">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="at icon"></i>
                        <input type="text" name="email" placeholder="Correo electrónico" ngControl="email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Contraseña" ngControl="password">
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Ingresar</button>
                <div class="ui horizontal divider">
                    O
                </div>
                <div class="ui facebook large fluid button">
                    <i class="facebook icon"></i>
                    Ingresar con Facebook
                </div>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>
