<div id="createpost-form" class="ui form">
    <div class="field">
        <textarea rows="2" name="text"></textarea>
    </div>
    <div id="fine-uploader-story"></div>
    <div class="ui large teal submit button">Publicar</div>
</div>

<div id="posts-container" class="ui container"></div>