<h1 class="ui centered header" *ngIf="mic">{{ mic.name }}</h1>
<div id="follow-button" class="ui circular icon button" [hidden]="!canFollow">
    <i class="icon"></i>
</div>

<div class="ui centered grid">
    <div class="center aligned column">
        <div class="ui compact secondary menu">
            <a class="item" [routerLink]="['./story']" routerLinkActive="active">Historia</a>
            <a class="item" [routerLink]="['./products']" routerLinkActive="active">Productos</a>
            <a class="item" [routerLink]="['./gallery']" routerLinkActive="active">Galería</a>
        </div>
    </div>
</div>

<div class="ui container">
    <router-outlet></router-outlet>
</div>