<div id="card-container" class="ui link four doubling cards">
    <a class="card" [hidden]="!canAdd" id="createproduct-button">
        <div class="image">
            <img src="http://www.freeiconspng.com/uploads/plus-icon-black-2.png">
        </div>
    </a>
    <a class="card" *ngFor="let product of products">
        <div class="image">
            <img src="{{ product.mainPhoto }}">
        </div>
        <div class="content">
            <div class="header">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
        </div>
    </a>
</div>

<div id="createproduct-modal" class="ui small modal">
    <div class="header">Crear Producto</div>
    <div class="content">
        <form id="createproduct-form" class="ui large form" [ngFormModel]="createProductForm" #f="ngForm" (submit)="createProduct(f.value)">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Nombre" ngControl="name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="align justify icon"></i>
                        <input type="text" name="description" placeholder="Descripción" ngControl="description">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="money icon"></i>
                        <input type="text" name="price" placeholder="Precio" ngControl="price">
                    </div>
                </div>
                <div id="fine-uploader"></div>
                <button class="ui fluid large teal submit button" type="submit">Crear</button>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>