<div id="card-container" class="ui link four doubling cards">
    <a class="card" *ngFor="let entrepreneur of entrepreneurs" [routerLink]="['/micProfile/', entrepreneur._id]">
        <div class="image">
            <img src="{{ entrepreneur.logo }}">
        </div>
        <div class="content">
            <div class="header">{{ entrepreneur.firstName }} {{entrepreneur.lastName }}</div>
            <div class="description">{{ entrepreneur.description }}</div>
        </div>
    </a>
</div>
