<div class="ui grid">
    <div id="profile-content" class="eight wide column">
        <img class="ui small circular top aligned image" src="http://philosophy.ucr.edu/wp-content/uploads/2014/10/no-profile-img-240x300.gif">
        <h3 class="ui header" *ngIf="profileUser">{{ profileUser.firstName }} {{ profileUser.lastName }}</h3>
        <div id="follow-button" class="ui circular icon button" *ngIf="canFollow">
            <i class="icon"></i>
        </div>
    </div>
    <div id="mic-content" class="eight wide column">
        <h3 class="ui header">MiCs</h3>
        <div class="ui list">
            <div class="item" *ngFor="let mic of userMics">
                <img class="ui avatar image" src="{{ mic.logo }}">
                <div class="content">
                    <a class="header" [routerLink]="['/micProfile/', mic._id]">{{ mic.name }}</a>
                    <div class="description">{{ mic.description }}</div>
                </div>
            </div>
        </div>
        <div id="createmic-button" class="ui fluid button" [hidden]="!myProfile">
            <i class="plus icon"></i>
            Crear un MiC
        </div>

        <h3 class="ui header">Contactos</h3>
    </div>
</div>


<div id="createmic-modal" class="ui small modal" [hidden]="!myProfile">
    <div class="header">Crear MiC</div>
    <div class="content">
        <form id="createmic-form" class="ui large form" [ngFormModel]="createMicForm" #f="ngForm" (submit)="createMic(f.value)">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Nombre" ngControl="name">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="align justify icon"></i>
                        <input type="text" name="description" placeholder="Descripción" ngControl="description">
                    </div>
                </div>

                <div class="field" id="uploadBox">

                </div>

                <div class="field">
                    <div #cb class="ui checkbox" (click)="anonymousCb = !cb.classList.contains('checked')">
                        <input type="checkbox" tabindex="0" class="hidden" name="anonymous" />
                        <label>Anónimo</label>
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Crear</button>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>