<div id="card-container" class="ui link four doubling cards">
    <a class="card" *ngFor="let product of products" [routerLink]="['/micProfile/', product._id]">
        <div class="image">
            <img src="{{ product.mainPhoto }}">
        </div>
        <div class="content">
            <div class="header">{{ product.name }}</div>
            <div class="description">{{ product.description }}</div>
        </div>
    </a>
</div>
