<div id="card-container" class="ui link four doubling cards">
    <a class="card" *ngFor="let mic of mics" [routerLink]="['/micProfile/', mic._id]">
        <div class="image">
            <img src="{{ mic.logo }}">
        </div>
        <div class="content">
            <div class="header">{{ mic.name }}</div>
            <div class="description">{{ mic.description }}</div>
        </div>
    </a>
</div>
